/* home component */
* {
  margin: 0;
  padding: 0;
}

.home-container {
  background-image: url("/images/vegas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  font-family: "Train One", sans-serif;
  color: white;
  margin-top: 140px;
  font-size: 3em;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

button {
  font-family: cursive;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 2px solid pink;
  font-size: 14pt;
  margin-top: 20px;
}

button:hover {
  color: pink;
  animation: bounce 0.6s infinite;
}
