/*hotels component*/
* {
  margin: 0;
  padding: 0;
}

.hotels {
  background-image: url("/images/hotel.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.find {
  font-family: "Train One", sans-serif;
  font-size: 3em;
  margin-top: 20px;
  color: white;
}
