/*hotels component*/
* {
  margin: 0;
  padding: 0;
}

.hotels {
  background-image: url("/images/hotel.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.find {
  float: left;
}

.heading-container {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  margin-top: -100px;
  margin-left: 60px;
}

/*search bar and button*/
.search,
.explore {
  width: 250px;
  padding: 8px;
  border-radius: 10px;
  margin: 5px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 14pt;
  outline: none;
}

.explore {
  background-color: #57d6f2;
}

.explore:hover {
  color: white;
}
