/*hotels component*/
* {
  margin: 0;
  padding: 0;
}

.hotels {
  background-image: url("/images/hotel.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.find {
  float: left;
}

.heading-container {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  margin-top: -100px;
  margin-left: 40px;
}

/*search bar and button*/
.search {
  width: 300px;
}

.explore {
  width: 300px;
}

.explore:hover {
  color: #57d6f2;
}
